<div ng-include="'partials/header.html'"></div>
<!--<div ng-controller="changePasswordController">
    <div class="link">Change Password </div>
    <form name="formUser" id="formUser" novalidate>
        <table class="CreateMessage">

            <tr><td><b>Current Password :</b> </td></tr>
            <tr>
                <td>
                    <input name="CurrentPassword" type="password" ng-model="CurrentPassword" maxlength="50" required />
                    <div ng-show="formUser.$submitted || formUser.CurrentPassword.$touched">
                        <div ng-show="formUser.CurrentPassword.$error.required" class="errorMsg">Please enter password.</div>
                    </div>
                </td>
            </tr>
            <tr><td><b>Enter New Password:</b></td></tr>
            <tr>
                <td>
                    <input name="NewPassword" type="password" ng-model="NewPassword" maxlength="50" required  />
                    <div ng-show="formUser.$submitted || formUser.NewPassword.$touched">
                        <div ng-show="formUser.NewPassword.$error.required" class="errorMsg">Please enter new password.</div>
                    </div>
                </td>
            </tr>
            <tr><td><b>Confirm New Password :</b></td></tr>
            <tr>
                <td>
                    <input name="ConfirmNewPassword" type="password" ng-model="ConfirmNewPassword" maxlength="50" required ng-match="NewPassword" />

                    <div ng-show="formUser.$submitted || formUser.ConfirmNewPassword.$touched">
                        <div ng-show="formUser.ConfirmNewPassword.$error.required" class="errorMsg">Please enter confirm password.</div>

                    </div>
                    <span data-ng-show="formUser.ConfirmNewPassword.$error.match" class="errorMsg">Password have to match!</span>
                </td>
            </tr>
            <tr>
                <td>
                    <button ng-click="UpdatePassword()" type="submit" class="btnsave" ng-disabled="formUser.$invalid">
                        Submit
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <div class="link"><a href="#/ViewProfile">Account Setting</a> </div>
</div>-->


 <!-- Intro Header -->
<div class="intro change_pass">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>
                        Change Password
                    </h3>
                    <form name="formUser" id="formUser" novalidate>
                        <div class="login-form">
                            <input  placeholder="Current Password" name="CurrentPassword" type="password" ng-model="CurrentPassword" maxlength="50" required />
                            <div ng-show="formUser.$submitted || formUser.CurrentPassword.$touched">
                                <div ng-show="formUser.CurrentPassword.$error.required" class="errorMsg">Please enter password.</div>
                            </div>
                            <input  placeholder="New Password" name="NewPassword" type="password" ng-model="NewPassword" maxlength="50" required />
                            <div ng-show="formUser.$submitted || formUser.NewPassword.$touched">
                                <div ng-show="formUser.NewPassword.$error.required" class="errorMsg">Please enter new password.</div>
                            </div>
                            <input  placeholder="Confirm Password" name="ConfirmNewPassword" type="password" ng-model="ConfirmNewPassword" maxlength="50" required ng-match="NewPassword" />
                            <div ng-show="formUser.$submitted || formUser.ConfirmNewPassword.$touched">
                                <div ng-show="formUser.ConfirmNewPassword.$error.required" class="errorMsg">Please enter confirm password.</div>

                            </div>
                            <span data-ng-show="formUser.ConfirmNewPassword.$error.match" class="errorMsg">Password have to match!</span>
                           
                            <a><input type="button" value="Submit" ng-click="UpdatePassword()" ng-disabled="formUser.$invalid" /></a>
                        </div>
                        </form>
                 </div>
            </div>
        </div>
    </div>
</div>
