<!--<div ng-include="'partials/header.html'"></div>-->
<header>
    <!-- Navigation -->
    <div ng-controller="headerController">
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">                  
                    <a class="navbar-brand page-scroll" ng-click="Home()">
                        <img src="image/logo.png" />
                    </a>
                </div>              
            </div>
        </nav>

        <h1 class="brand-heading text-center">
            <p class="welcome">Welcome to Prvii<br /></p>
        </h1>
    </div>
</header>
<div class="intro" ng-controller="channelInAppController">
    <div class="after-login">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="main-tabs">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slideHead" title="CELEBRITY"> celebrity vip fan clubs to join</div>
                                <div class="slideBody">
                                    <div class="slideSubBody">
                                        <div class="row"><div class="col-md-12"> <button ng-click="GetIosCelebrity()">refresh</button></div></div>
                                            <div class="row" ng-repeat="channel in channelList">
                                                <div class="col-sm-3">
                                                    <div class="celebrity-img">
                                                        <a ng-click="includeSubscriberChannelFullDetails('subscriberchannelFullDetails.html',channel.ID)"> <img ng-src="{{SERVICE_URL}}channel/GetMedia?channelID={{channel.ID}}&mediaTypeID=1" /></a>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="celebrity-name">
                                                        <a ng-click="includeSubscriberChannelFullDetails('subscriberchannelFullDetails.html',channel.ID)">{{channel.Name}} </a>

                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    {{channel.Price | currency}}
                                                   

                                                </div>
                                                <div class="col-sm-3">
                                                    <!--ng-hide="channel.ID==USER_ChannelID"-->
                                                    <button class="unsubscribe-btn" ng-hide='io.cordova.PrviiMobile.{{channel.ID}}' ng-click="Buy('io.cordova.prviimobile.'+channel.id)">Subscribe</button>
                                                </div>
                                            </div>

                                        <div class="row"><div class="col-md-12"> <button ng-click="LoginCancel()">Login</button> </div></div>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <img src="image/Prviibg.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>