<header></header>
<div class="intro">
    <div class="intro-body">
        <div class="container" ng-controller="loginController">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">
                        <img src="image/logo.png" />
                        <p class="intro-text">Welcome to Prvii</p>
                    </h1>

                    <h3>
                        Login
                    </h3>
                    <div class="login-form">

                       <form name="formLogin" id="formLogin" novalidate>
                            <input  placeholder="Email Address" type="email" ng-model="login.Username" name="userName"  maxlength="50" required autofocus />
                            <div class="errorMsg" ng-show="formLogin.userName.$dirty">
                                <span ng-show="formLogin.userName.$error.required">Enter user name.</span>
                            </div>
                            <input type="password" ng-model="login.Password" name="userPassword" placeholder="Password" maxlength="50" required />
                            <div ng-show="formLogin.userPassword.$dirty" class="errorMsg">
                                <span ng-show="formLogin.userPassword.$error.required">Enter password.</span>
                            </div>
                            
                            <input ng-click="signin()" type="button" ng-disabled="formLogin.$invalid" value="Sign in" />

                           <!--<input ng-click="Back()" type="button" value="Back" />-->
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>